h1 {
  font-size: 32px;
}

p {
  font-size: 16px;
}

body {
  margin: 12px;
  padding: 12px;
  background-color: #789ABC;
}

li {
  margin: 12px;
  padding: 12px;
}

button {
  margin: 12px;
  padding: 12px;
}

input {
  margin: 12px;
  padding: 12px;
}

header {
  margin: 12px;
  padding: 12px;
  font-size: 48px;
}

footer {
  margin: 12px;
  padding: 12px;
  font-size: 12px;
}
